@font-face {
  font-family: 'PokemonSolid';
  src: url(./fonts/Pokemon\ Solid.ttf);
}

body {
  margin: 0;
}

/* -------------------------------------------------------- */
/* Header */

header {
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 8vh;
  background-color: #ef5350;
  display: flex;
  justify-content: center;
}

.header {
  width: 80%;
  display: flex;
  justify-content: center;
}

#pokemon-logo {
  margin: 5px;
  max-height: 6vh;
  align-self: center;
}

#running-pikachu {
  display: none;
}

/* -------------------------------------------------------- */
/* Parte principal */

#general {
  position: absolute;
  top: 8vh;
  background-color: rgb(233, 233, 233);
  height: 94vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#main-content {
  width: 100vw;
  height: 80vh;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#right-content, #left-content {
  width: 100vw;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#right-content {
  justify-content: space-between;
}

#left-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.question {
  justify-self: flex-start;
  font-family: 'PokemonSolid', cursive;
  font-size: 8vw;
  color: #003a70;
  text-align: center;
}

.question h1 {
  margin: 20px;
}

.pokemon img {
  width: 50vw;
}

.pokemon p {
  display: none;
}

.option {
  margin: 10px 10px;
  height: 150px;
  width: 45vw;
  border: 6px solid #3d7dca;
  border-radius: 10px;
  background-color:	#ffcb05;
  color:	#003a70;
  font-size: 6vw;
  font-family: 'PokemonSolid', cursive;
  text-align: center;
  box-shadow: -5px 5px 10px 0 #003a708c;
}

.option p {
  margin: 0;
  text-transform: capitalize;
}

.wrong {
  border: 6px solid #3d7cca59;
  border-radius: 10px;
  background-color:	#ffcd0555;
  color:	#003a7060;
  font-size: 6vw;
  box-shadow: none;
}

/* -------------------------------------------------------- */
/* Modal */

.correct {
  z-index: 10;
  position: absolute;
  background-color: #ef5350d8;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 80vw;
  height: 80vh;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  box-shadow: -8px 8px 10px 0 #003a708c;
  border: 8px solid #003a70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal h1 {
  color: #003a70;
  font-family: 'PokemonSolid';
  font-size: 10vw;
  text-align: center;
  margin: 10px;
}

.again {
  width: 60vw;
  height: 200px;
  cursor: pointer;
  border: 6px solid #3d7dca;
  border-radius: 20px;
  background-color:	#ffcb05;
  color:	#003a70;
  font-size: 8vw;
  font-family: 'PokemonSolid', cursive;
  text-align: center;
  box-shadow: -5px 5px 10px 0 #003a708c;
}

.hidden {
  display: none;
  transition: 1s;
}

/* -------------------------------------------------------- */
/* Footer */

footer {
  display: none;
}